body {
  font-family: helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png")
}

p {
  font-size: 14px;
}

.header {
  background-image: url("../images/the-flatiron-building.png")
}

li,a{
  font-size: 18px;
  color: white;
  text-decoration: underline;
  list-style-type: none;
  margin-top: 10px;
}

footer {
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
  width: 100%;
}

footer li {
  display: inline-block;
}
