body {
  font-family: helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.header {
  background-image: url("../images/the-flatiron-building.png")
}

li a{
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-top: 20px;
}
